.header{
    margin: 0 auto;
    /* position: fixed;
  top: 0;
  z-index: 1; */
    width: 90%;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
}
 
.title h1{
    font-size: 35px;
    text-align: left;
    margin-left: 45px;
    color: rgba(52, 69, 99, 0.87);
}

.tabs{
    width: 90%;
    margin: 0 auto;
    /* background-color: brown; */
    height: 40px;
   
}
.btn1, .btn2{
    width: 50%;
    height: 40px;
    font-family: 'Inter', sans-serif;
}
.b1{
    background-color: white;
    color: black;
    border: 1px solid gray;
}
.b2{
    background-color: #4FCB7A;
    color: white;
    border: 1px solid #4FCB7A;
}
.btn1 {
    
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
   
}
.btn2{
    
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    
}

@media screen and (max-width: 420px){
    .header{
        width: 100%;
    }
    .title h1{
        font-size: 27px;
    }
  }